body {
  min-width: 1240px;

  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;

  color: #464646;
}

@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("../fonts/gilroyextrabold.woff") format("woff"),
       url("../fonts/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff") format("woff"),
       url("../fonts/gilroylight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src : url("../fonts/opensans.woff") format("woff"),
        url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src : url("../fonts/opensanslight.woff") format("woff"),
        url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

h1, h2 {
  font-family: "Gilroy ExtraBold";
  font-size: 47px;
  line-height: normal;

  color: #000000;
}

body > input[type="radio"] {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.index-header {
  position: relative;

  min-height: 265px;
  margin-top: 40px;
  padding-top: 34px;

  background-color: #f7e296;

}

.center {
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  position: absolute;
  top: -29px;
  left: 60px;
  z-index: 0;
}

.logo a {
  font-size: 48px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;

  color: #000000;
}

.logo a:hover {
  color: #464646;
}

.logo a:active {
  color: #666666;
}

.hidden {
  display: none;
}

.search-form {
  position: relative;

  float: left;
  height: 49px;
  width: 450px;
  margin-bottom: 30px;

  line-height: 36px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);


  width: 18px;
  height: 18px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -4px -340px;
}

.search-form input[type="search"] {
  width: 315px;
  min-height: 49px;
  padding-left: 40px;

  background-color: #f7e296;
  opacity: 0.3;
  border: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.search-form input[type="search"]:hover {
  opacity: 0.6;
}

.search-form input[type="search"]:focus {
  opacity: 1;
  outline: none;
  border-bottom: 2px solid black;
}

.search-form input[type="submit"] {
  display: none;
  width: 85px;
  min-height: 49px;
  margin-left: -4px;

  border: 2px solid black;
  background-color: #f7e296;
  outline: none;
  cursor: pointer;
}

.search-form input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-form input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-form input[type="search"]:focus + input[type="submit"],
.search-form input[type="search"] + input[type="submit"]:active {
  display: inline-block;
  vertical-align: bottom;
}


.user-block {
  float: right;
  margin-top: 6px;
  width: 500px;
}

.user-block a {
  position: relative;

  float: right;
  margin-left: 40px;
  padding-left: 25px;

  text-decoration: none;
  line-height: 36px;

  color: #000000;
}

a.enter {
  float: left;
  margin-left: 0;
}

a.exit {
  float: left;
  margin-left: 15px;
  padding-left: 0;

  opacity: 0.3;
}

.user-block a::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  width: 14px;
  height: 12px;


  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.exit::before {
  display: none;
}

.enter::before {
  background-position: -4px -467px;
}

.basket::before {
  background-position: -4px -5px;
}


.compare::before {
  background-position: -4px -71px;
}

.user-block a:hover {
  opacity: 0.6;
}

.user-block a:active {
  opacity: 0.3;
}

.main-nav {
  position: relative;

  clear: both;
}

.main-nav ul {
  padding-left: 0;

  font-size: 0;
}

.main-nav>ul>li {
  display: inline-block;
  vertical-align: baseline;
}

.main-nav>ul>li>a {
  font-size: 18px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;

  color: #000000;
}

.main-nav a:hover {
  opacity: 0.6;
}

.main-nav a:active {
  opacity: 0.3;
}

.main-nav>ul>li:first-of-type {
  width: 247px;
  margin-left: 0;
  margin-right: 293px;
}

.index-catalog {
  position: relative;

  padding-right: 30px;
}

.index-catalog::after {
  content: "";

  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  width: 16px;
  height: 16px;

  background-position: -5px -315px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.main-nav>ul>li:nth-of-type(2) {
  width: 130px;
}

.main-nav>ul>li:nth-of-type(3) {
  width: 120px;
  margin-left: 27px;
}

.main-nav>ul>li:last-of-type {
  width: 120px;
  margin-left: 107px;
  margin-right: -5px;
}

.catalog-add {
  position: absolute;
  bottom: -164px;
  z-index: 5;

  display: none;
  width: 640px;
  height: 144px;
  padding-top: 22px;

  font-size: 0;
  background-color: #f7e296;
}

.catalog-add::before {
  content: "";

  position: absolute;
  z-index: -1;
  left: -60px;
  bottom: 0;

  width: 1160px;
  height: 144px;
  padding-top: 10px;

  background-color: #f7e296;
}

.main-nav>ul>li:first-of-type>a:hover + .catalog-add,
.catalog-add:hover {
  display: block;
}

.catalog-add li:nth-child(3n+1) {
  margin-right: 40px;
}

.catalog-add li:last-child {
  display: block;
}

.catalog-add li {
  display: inline-block;
  vertical-align: baseline;
  width: 200px;
}

.catalog-add a {
  font-size: 15px;
  line-height: 36px;
  text-decoration: none;

  color: #000000;
}

.index-main {
  margin-bottom: 82px;
}

.main-item {
  position: relative;
  top: -108px;

  display: none;
  min-height: 400px;
  padding-right: 60px;
}

.slider {
  position: relative;
  min-height: 495px;
}

.main-item img {
  float: left;
}

.slider-first img {
  padding-left: 85px;
}

.slider-second img {
  padding-top: 10px;
  padding-left: 110px;
}

.slider-third img {
  padding-top: 63px;
  padding-left: 30px;
}

.slider-btn {
  position: absolute;
  z-index: 3;
  bottom: 268px;
  right: 85px;

  padding-left: 0;
  font-size: 0;
}

.slider-btn li {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 23px;
}

.slider-btn li:first-child {
  margin-left: 0;
}

.slider-btn label {
  padding: 2px;

  background-color: transparent;
  outline: none;
  border: 3px solid #000000;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}

.slider-btn label:hover {
  opacity: 0.4
}

#main-item-btn-1:checked ~ .index-main label[for="main-item-btn-1"],
#main-item-btn-2:checked ~ .index-main label[for="main-item-btn-2"],
#main-item-btn-3:checked ~ .index-main label[for="main-item-btn-3"] {
  opacity: 1;
}

#main-item-btn-1:checked ~ .index-main #slide-1,
#main-item-btn-2:checked ~ .index-main #slide-2,
#main-item-btn-3:checked ~ .index-main #slide-3 {
  display: block;
}

.main-description {
  position: relative;

  float: right;
  width: 500px;
  padding-top: 35px;
}

.main-description::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 400px;

  width: 100px;
  height: 10px;

  background-color: #ffffff;
}

.number-slide {
  position: absolute;
  z-index: 1;
  right: -10px;
  top: -15px;

  font-size: 179.2px;
  font-family: "Gilroy ExtraBold";

  line-height: 179.2px;
  color: #ffffff;
}

.main-description h2 {
  position: relative;
  z-index: 2;

  margin-bottom: 20px;
}
.main-description p {
  margin-bottom: 45px;

  line-height: 30px;
}

.main-description a {
  width: 220px;
  margin-bottom: 45px;
}

.device-btn {
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 18px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;

  color: #000000;
}

.device-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.device-btn::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 40%;
  left: 0;

  width: 100%;
  height: 20%;

  background-color: #f0c52e;

  transition: all 0.2s ease-in-out;
}

.device-btn:hover::before {
  top: 0;
  height: 100%;
}

.main-features {
  padding-left: 0;
  font-size: 0;
}

.main-features li {
  display: inline-block;
  vertical-align: baseline;

  font-family: "Gilroy Light";
  font-size: 36px;
}

.main-features li:not(:last-of-type) {
  margin-right: 80px;
}

.main-features span {
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans Light";
}

.type-items {
  position: relative;
  top: -14px;

  margin-bottom: 171px;

  font-size: 0;
}

.type-items a {
  display: inline-block;
  vertical-align: top;
  width: 160px;

  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;

  color: #000000;
}

.type-items a:not(:last-of-type) {
  margin-right: 40px;
}

.type-items a:hover .type-block {
  background-color: #f0c52e;
}

.type-items a:active img {
  opacity: 0.3;
}

.type-items a:active {
  color: rgba(0, 0, 0, 0.3);
}

.type-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;

  background-color: #f7e296;
  margin-bottom: 35px;
  transition: background-color 0.2s ease-in;
}

.m-type-block-selfie {
  align-items: flex-end;
}

.services {
  margin-bottom: 100px;

  background-color: #e5e5e5;
}

.services-btn {
  position: relative;
  top: -20px;

  float: left;
  width: 300px;
  padding-left: 0;
  margin-top: 0;

  list-style: none;
}

.services-btn::after {
  content: "";

  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  display: block;
  width: 7px;
  height: 319px;

  background-color: #000000;
}

.services-btn li {
  margin-bottom: 30px;
}

.services-btn label {
  z-index: 1;

  width: 160px;

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.services-btn label::before {
  content: "";

  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;

  display: block;
  width: 100%;
  height: 20%;

  background-color: #f0c52e;

  transition:
    top 0.2s ease-in,
    height 0.2s ease-in;
}

.services-btn label:hover::before {
  height: 100%;
  top: 0;
}

#services-btn-1:checked ~ .index-main label[for="services-btn-1"],
#services-btn-2:checked ~ .index-main label[for="services-btn-2"],
#services-btn-3:checked ~ .index-main label[for="services-btn-3"] {
  color: #f7e184;
}

#services-btn-1:checked ~ .index-main label[for="services-btn-1"]::before,
#services-btn-2:checked ~ .index-main label[for="services-btn-2"]::before,
#services-btn-3:checked ~ .index-main label[for="services-btn-3"]::before {
  height: 100%;
  top: 0;

  width: 280px;

  background-color: #000000;
}


#services-btn-1:checked ~ .index-main #services-courier,
#services-btn-2:checked ~ .index-main #services-warranty,
#services-btn-3:checked ~ .index-main #services-credit {
  display: block;
}

.services-item {
  position: relative;
  top: -42px;

  display: none;
  float: right;
  width: 700px;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: 60px;

}

.courier {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 100% 80%;
}

.warranty {
  background-image: url("../img/warranty.png");
  background-repeat: no-repeat;
  background-position: 100% 70%;
}

.credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.services-item h2,
.services-item p {
  float: left;
  width: 460px;
  margin-bottom: 35px;
  margin-top: 0;
}

.services-item img {
  float: right;
}


.partners {
  margin-bottom: 95px;

  font-size: 0;
}

.partners a {
  position: relative;

  display: inline-block;
  vertical-align: baseline;
  width: 260px;
  margin-right: 40px;
}

.partners a:last-child {
  margin-right: 0;
}
.partners img:last-child {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.partners img {
  transition: opacity 0.2s ease-in;
}

.partners a:hover img:first-child {
  opacity: 0;
}

.partners a:hover img:last-child {
  opacity: 1;
}

.about-company h2 {
  margin-top: 48px;
  margin-bottom: 36px;
}

.about-us {
  position: relative;

  float: left;
  width: 475px;
}

.contacts {
  position: relative;

  float: right;
  width: 560px;
}

.contacts::before,
.about-us::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-company p {
  margin-bottom: 34px;
  margin-top: 0px;

  font-size: 15px;
  line-height: 30px;
}


.about-us ul {
  padding-left: 0;
  margin-top: 60px;
  margin-bottom: 59px;

  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy ExtraBold";
  list-style: none;
}

.about-us li {
  position: relative;

  padding-left: 35px;
}

.about-us a {
  width: 260px;
}

.about-us li::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  width: 3px;
  height: 3px;

  border: 3px solid #b2b2b2;
  border-radius: 50%;

}

.contacts img {
  margin-top: 6px;
}

.contacts .write-us-btn {
  width: 260px;
  margin-top: 67px;
}

.index-footer {
  min-height: 203px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #464646;
}

.footer-left {
  position: relative;

  float: left;
  width: 340px;
  min-height: 190px;
  margin-right: 20px;
}

.footer-left a {
  font-size: 48px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;

  color: #f7e184;
}

.footer-left a:hover {
  color: #f0c52e;
}

.footer-left a:active {
  opacity: 0.3;
}

.footer-left p {
  margin-top: 18px;

  line-height: 30px;

  color: #ffffff;
}

.footer-left::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #f7e184;
}

.footer-center {
  float: left;
  width: 450px;
  margin-top: 80px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;

  height: 22px;
  margin-bottom: 60px;

  font-size: 0;
}

.footer-links a {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-links a:hover {
  opacity: 0.6;
}

.footer-links a:active {
  opacity: 0.3;
}

.footer-social {
  min-height: 38px;

  text-align: center;
}

.social-btn {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 39px;
  height: 38px;

  font-size: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social-btn-fb {
  margin-right: 15px;

  background-position: -5px -131px;
}

.social-btn-inst {
  margin-right: 15px;

  background-position: -5px -267px;
}

.social-btn-tw {
  background-position: -5px -420px;
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.footer-right {
  float: right;
  width: 340px;

  line-height: 30px;
  text-align: right;

  color: #ffffff;
}

.footer-user-block {
  margin-bottom: 44px;
}

.footer-user-block a {
  position: relative;

  margin-left: 40px;
  padding-left: 25px;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.7);
}

.footer-user-block a:first-child {
  margin-left: 0;
}

.footer-user-block a::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.login-1::before {
  width: 14px;
  height: 12px;
}

.compare-1::before {
  width: 12px;
  height: 10px;
}

.basket-1::before {
  width: 13px;
  height: 12px;
}

.login-1::before {
  background-position: -4px -489px;
}

.login-1:hover::before {
  background-position: -4px -511px;
}

.compare-1::before {
  background-position: -4px -91px;
}

.compare-1:hover::before {
  background-position: -4px -111px;
}

.basket-1::before {
  background-position: -4px -27px;
}

.basket-1:hover::before {
  background-position: -4px -49px;
}

.footer-user-block a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-block a:active {
  opacity: 0.3;
}

.telephone {
  margin-bottom: 54px;

  line-height: 30px;
}

.copyright a {
  display: inline-block;
  width: 27px;
  height: 36px;

  font-size: 0;
  text-decoration: none;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -178px;
}

.copyright a:hover {
  background-position: -5px -222px;
}

.copyright a:active {
  opacity: 0.3;
}

@keyframes modal-open {
  0% {
    transform: translate(-200%, -50%) skewX(45deg);
  }
  80% {
    transform: translate(-40%, -50%) skew(5deg);
  }
  100% {
    transform: translate(-50%, -50%) skew(0deg);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-51%, -50%);
  }
  20%, 40%, 60%, 80% {
    transform: translate(-49%, -50%);
  }
}

.modal-close {
  position: absolute;
  z-index: 20;
  top: 22px;
  right: 22px;

  width: 54px;
  height: 54px;

  font-size: 0;

  background-color: #f7e296;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal-close::after,
.modal-close::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 32px;
  height: 2px;

  background-color: #ffffff;
}

.modal-close::after {
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.modal-close::before {
  -webkit-transform: translateX(-50%) rotate(-45deg);
      -ms-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.modal-close:hover {
  background-color: #000000;
}

.modal-close:hover::after,
.modal-close:hover::before {
  background-color: #f0c52e;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  display: none;
  width: 760px;
  min-height: 380px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 95px;
  padding-bottom: 78px;

  background-color: #ffffff;
  box-shadow:
    -40px 0px 40px -40px rgba(2, 4, 6, 0.75),
    40px 0px 40px -40px rgba(2, 4, 6, 0.75),
    0 8px 20px 2px rgba(2, 4, 6, 0.2);
}

.form-write-us {
  font-size: 0;
}

.form-write-us label {
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 18px;
  font-family: "Gilroy ExtraBold";
}

.form-write-us-name,
.form-write-us-email {
  display: inline-block;
  vertical-align: baseline;
  width: 360px;
}

.form-write-us-name input,
.form-write-us-email input {
  width: 360px;
  margin-top: 13px;
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Open Sans";

  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.form-write-us-name {
  margin-right: 40px;
}

.form-write-us-letter textarea {
  width: 740px;
  height: 124px;
  margin-top: 13px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";

  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.form-write-us button {
  width: 200px;
  margin-top: 40px;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-map {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  display: none;
  width: 960px;
  height: 560px;

  box-shadow: 0 10px 20px 0 rgba(0, 4, 6, 0.2);
}

.modal-map .modal-close {
  opacity: 0.5;
}

.modal-map .modal-close:active {
  opacity: 0.1;
}

.modal-show {
  display: block;

  animation: modal-open 0.6s ease-in-out;
}

.modal-error {
  animation: shake 0.6s;
}

.catalog-header {
  position: relative;

  width: 1160px;
  min-height: 152px;
  margin-top: 40px;
  padding-top: 34px;

  background-color: #f7e296;
}

.catalog-main {
  box-sizing: border-box;
  padding-left: 60px;
}

.catalog-main h1 {
  margin-bottom: 22px;
}

.breadscrumbs {
  padding-left: 0;
  margin-bottom: 50px;

  font-size: 0;
}

.breadscrumbs li {
  position: relative;

  display: inline-block;
  vertical-align: baseline;
  padding-right: 38px;
}

.breadscrumbs li::after {
  content: "";

  position: absolute;
  right: 18px;
  bottom: 5px;

  width: 6px;
  height: 7px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -4px -403px;

}

.breadscrumbs li:last-child::after {
  display: none;
}

.breadscrumbs a {
  font-size: 14px;
  text-decoration: none;

  color: rgba(0, 0, 0, 0.3);
}

.breadscrumbs a:not(.current):hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadscrumbs a:not(.current):active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-filter {
  float: left;
  width: 268px;
}

.catalog-filter h2 {
  width: 200px;
  margin-bottom: 0;
  margin-top:0;
  padding-top: 25px;
  padding-bottom: 26px;
  padding-right: 68px;

  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;

  background-color: #dbdbdb;
}

.filter-form {
  width: 200px;
  min-height: 1138px;
  padding-right: 68px;
  padding-top: 75px;

  background-color: #efefef;
}

.filter-form fieldset {
  position: relative;

  padding: 0;
  padding-bottom: 56px;
  margin: 0;

  border: none;
}

.filter-form fieldset:last-of-type {
  padding-bottom: 30px;
}

.filter-form fieldset::before {
  content: "";

  position: absolute;
  top: -16px;

  width: 100%;
  height: 2px;

  background-color: #000000;
}

.form-legend {
  margin-bottom: 25px;

  font-size: 18px;
  font-family: "Gilroy ExtraBold";

  color: #000000;
}

.range-controls {
  position: relative;

  width: 200px;
  padding-left: 5px;
}

.range-controls .bar {
  width: 112px;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -6px;
  left: 0px;

  width: 10px;
  height: 10px;

  border: 2px solid black;
  border-radius: 50%;
  background: #eeeeee;
  cursor: pointer;
}

.range-controls .toggle:active {
  background-color: #7eae29;
  border: 3px solid white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.75);
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 112px;
}

.range-controls .scale {
  height: 2px;

  background-color: #dbdbdb;
}

.selected-price {
  margin-top: 9px;

  font-size: 14px;
  line-height: 22px;
  font-family: "Gilroy Light";

  color: rgba(0, 0, 0, 0.2);
}

.selected-price span:first-child {
  margin-right: 60px;
}

.filter-form input[type="checkbox"],
.filter-form input[type="radio"] {
  display: none;
}

.filter-form label {
  position: relative;

  display: block;
  padding-left: 40px;

  font-size: 14px;
  line-height: 40px;

  cursor: pointer;
}

.filter-form label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 8px;

  width: 23px;
  height: 23px;
}

.filter-form input[type="checkbox"] + label::before,
.filter-form input[type="checkbox"]:checked + label::before {
  background-color: #dbdbdb;
}

.filter-form input[type="checkbox"]:enabled + label:hover::before {
  background-color: #cecece;
}

.filter-form input[type="checkbox"]:enabled:checked + label:hover::before {
  background-color: #c4c4c4;
}

.filter-form input[type="checkbox"]:checked + label::after {
  content: "";

  position: absolute;
  left: 6px;
  bottom: 16px;

  width: 12px;
  height: 8px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -385px;
}

.filter-form input[type="radio"] + label::before {
  box-sizing: border-box;
  border: 2px solid #dbdbdb;
  border-radius: 50%;
}

.filter-form input[type="radio"]:enabled + label:hover::before {
  border: 2px solid #cecece;
}

.filter-form input[type="radio"]:enabled:checked + label:hover::before {
  border: 2px solid #c4c4c4;
}

.filter-form input[type="radio"]:checked + label::after {
  content: "";

  position: absolute;
  left: 7px;
  top: 15px;

  box-sizing: border-box;
  width: 9px;
  height: 9px;

  border: 2px solid black;
  border-radius: 50%;
}

.filter-form input[type="checkbox"]:disabled + label,
.filter-form input[type="radio"]:disabled + label,
.filter-form input[type="checkbox"]:disabled + label:hover,
.filter-form input[type="radio"]:disabled + label:hover {
  opacity: 0.3;
}

.filter-form button {
  z-index: 1;

  width: 200px;
  height: 40px;

  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}



.catalog-items {
  float: right;
  width: 832px;
}

.catalog-sort {
  min-height: 19px;
  margin-bottom: 59px;
  padding-top: 25px;
  padding-bottom: 26px;

  background-color: #ebebeb;
}

.catalog-sort h2 {
  float: left;
  margin: 0;
  padding-left: 72px;

  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.catalog-sort ul {
  float: left;
  padding-left: 55px;

  font-size: 0;
}

.catalog-sort li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.catalog-sort li:nth-child(3) {
  margin-right: 187px;
}

li.btn-leaf {
  width: 17px;
  height: 9px;
  margin-left: 26px;
  margin-right: 0;
}

.catalog-sort a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans";
  text-decoration: none;

  color: #000000;
  opacity: 0.3;
}

.catalog-sort a:hover {
  opacity: 0.6;
}

.catalog-sort a:active,
.catalog-sort .current,
.catalog-sort .current:hover {
  opacity: 1;
}

.btn-leaf a {
  position: relative;

  color: rgba(0, 0, 0, 0);
  opacity: 0.2;
}

.btn-leaf a:hover {
  opacity: 0.4;
}

.btn-leaf a:active {
  opacity: 1;
}

.btn-leaf a::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;

  width: 17px;
  height: 9px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -367px;
}

.btn-leaf .btn-up::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.found-items {
  padding-left: 72px;
  margin-bottom: 9px;

  font-size: 0;
}

.object-item {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 360px;
  min-height: 486px;
  margin-top: 11px;

  font-size: 0;
}

.object-item:nth-of-type(2n+1) {
  margin-right: 40px;
}

.object-item img {
  width: 360px;
  height: 380px;
  margin-bottom: 34px;
}

.object-item img:hover {
  opacity: 0.3;
}

.object-item img:hover + .object-action,
.object-action:hover {
  display: block;
}

.object-action {
  position: absolute;
  z-index: 1;
  top: 170px;
  left: 80px;

  display: none;
  width: 200px;
}

.object-action:hover::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: -170px;
  left: -80px;

  width: 360px;
  height: 380px;

  background-color: rgba(255, 255, 255, 0.7);
}

a.object-action-buy,
a.object-action-compare {
  width: 200px;
}

.object-action .object-action-compare {
  display: inline-block;
  vertical-align: baseline;

  font-size: 13px;
  line-height: 36px;
  text-decoration: none;
  text-align: center;

  color: rgba(0, 0, 0, 0.5);
}

.object-action .object-action-compare:hover {
  color: rgba(0, 0, 0, 1);
}

.object-action .object-action-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.object-name {
  display: inline-block;
  vertical-align: baseline;
  width: 260px;
  margin: 0;

  font-size: 18px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;

  color: #000000;
}

.object-name:hover {
  opacity: 0.6;
}

.object-name:active {
  opacity: 0.3;
}

.object-item span {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  padding-top: 3px;

  font-size: 16px;
  font-family: "Gilroy Light";
  text-align: right;
}

.catalog-nav {
  width: 760px;
  min-height: 70px;
  margin-left: 72px;
  padding-left: 0;

  font-size: 0;

  background-color: #ebebeb;
}

.catalog-nav li {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 28px;

  font-size: 14px;
}

.catalog-nav li:first-child,
.catalog-nav li:nth-child(4) {
  margin-right: 213px;
}

.catalog-nav li:nth-child(3) {
  margin-right: 23px;
}

.catalog-nav li:last-child {
  margin-right: 0;
}

.catalog-nav a {
  display: inline-block;
  vertical-align: baseline;

  font-size: 16px;
  font-family: "Gilroy ExtraBold";
  text-decoration: none;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 1);
}

.catalog-nav li:first-child a,
.catalog-nav li:last-child a {
  width: 75px;
  height: 20px;
  padding: 25px;
}

.catalog-nav li:not(:first-child):not(:last-child) a:not(.current) {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-nav li:not(:first-child):not(:last-child) a:not(.current):hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-nav li:not(:first-child):not(:last-child) a:not(.current):active {
  color: rgba(0, 0, 0, 1);
}

.catalog-nav li:first-child:hover,
.catalog-nav li:last-child:hover {
  background-color: #d9d9d9;
}

.catalog-nav li:first-child a:active,
.catalog-nav li:last-child a:active {
  color: rgba(0, 0, 0, 0.3);
}
